@page
@model Torget__Blocket_klon_.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<h1>Översikt av annonser</h1>
<a asp-area="Annonser" asp-page="/Annons" asp-route-id=1>Se annons</a>
<a asp-area="Konto" asp-page="/SkapaAnnons">Skapa annons</a>

