@page
@model Torget__Blocket_klon_.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Torget - köp & sälj";
}

<div class="ads-container">
    @foreach (TorgetAd ad in Model.TorgetAds)
    {
        <partial name="_SmallAdCard" model="ad"/>
    }
</div>
