
.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0 auto;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
}

.chat-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f3ffff;
}

.chat-menu-item {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    height: 90px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    background-color: powderblue;
}

    .chat-menu-item img {
        grid-area: 1 / 1 / 5 / 1;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        border-radius: 10px;
    }

    .chat-menu-item h4 {
        grid-area: 2 / 2 / 2 / 3;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: clip;
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 0 10px;
        padding: 0;
    }

    .chat-menu-item .username {
        grid-area: 1 / 2 / 1 / 4;
        font-size: 12px;
        font-weight: 300;
        margin: 0 0 0 10px;
        padding: 0;
    }

    .chat-menu-item p {
        grid-area: 3 / 2 / 3 / 4;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: clip;
        font-size: 14px;
        font-weight: 500;
        max-width: 80%;
        margin: 0 0 0 10px;
    }

.chat-view {
    display: flex;
    flex-direction: column;
    /*width: min-content;
    min-width: 500px;*/
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 30px;
}

.chat-bubbles {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 10px;
    overflow-y: scroll;
    /*scrollbar-width: none;*/
}

    .chat-bubbles::-webkit-scrollbar {
        display: none;
    }

.chat-bubbles p {
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    max-width: max-content;
}

.chat-bubbles .right {
    background-color: lightcyan;
    margin-left: auto;
}

.chat-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
}

    .chat-input input {
        border: 0;
        border-radius: 100px;
        height: 100%;
        width: 70%;
    }

    .chat-input input:focus {
        outline: none;
    }

    .chat-input button {
        background-color: limegreen;
        font-weight: 600;
        border: 0;
        border-radius: 100px;
        height: 100%;
        width: 19%
    }

    .reference {
        display: flex;
        flex-direction: row;
        height: 80px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        font-size: 14px;
        box-shadow: 1px 1px 5px grey;
    }

        .reference img {
            object-fit: cover;
            width: 25%;
            max-height: 100%;
            border-radius: 10px;
        }

        .reference p {
            margin: 8px 0 8px 10px;
        }