:root {
    --background-color-dark: #07beb8;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #0f0a0a;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

h5 {
    font-size: 0.83em;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 -3px #7fbbc4;
    margin: 10px;
}

    .input input {
        width: 100%;
        height: 100%;
        border: 0;
        font-weight: 600;
        font-size: 20px;
        margin: 0px 10px;
    }

        .input input:focus, input:focus {
            outline: none;
        }

.button {
    background-color: #07beb8;
    color: black;
    border-radius: 100px;
    margin: 6px;
    min-width: contain;
    border: none;
    padding-left: 0px;
}

header .button {
    box-shadow: 0 -3px #7fbbc4;
}

.edit-container {
    display: flex;
    justify-content: right;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #98dfea;
    /*background: linear-gradient(to bottom, #98dfea 0, #98dfea 92%, #7FBBC4 92%, #7FBBC4 93%, #FFFFFF 93%, #FFFFFF 100%);*/
    max-width: 100vw;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px #7fbbc4;
    padding: 10px;
}

    header h3 {
        font-weight: bold;
        text-align: left;
        width: 90%;
        font-size: 40px;
        margin: 0 0 10px 0;
        padding: 0;
    }

.categories {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px auto;
}

.category-single {
    display: flex;
    flex-direction: column;
}

    .category-single i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        border-radius: 100px;
        background-color: var(--background-color-dark);
        box-shadow: 0px -3px #7fbbc4;
        font-size: 32px;
    }

.categories p {
    text-align: center;
    margin: 0;
    padding: 5px 0 0 0;
    font-weight: 600;
    font-size: 12px;
    color: rgb(15, 10, 10, 0.7)
}


.filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 90%;
}


.filter-search {
    grid-area: 1 / 1 / 1 / 4;
    height: 40px;
    padding: 3px;
}

    .filter-search i {
        display: none;
        font-size: 32px;
    }

.filter-location {
    grid-area: 2 / 1 / 2 / 4;
    height: 40px;
    padding: 3px;
    align-items: center;
    justify-content: center;
}

.filter-price {
    grid-area: 3 / 1 / 3 / 3;
    padding: 3px;
}

.filter-submit {
    grid-area: 3 / 3 / 3 / 4;
    height: 48px;
    border: none;
    color: inherit;
    font-weight: 600;
    font-family: inherit;
    font-size: 20px;
    
}

.hide-header {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin-top: -30px;
    background-color: var(--background-color-dark);
    box-shadow: 0 -3px 10px #7fbbc4;
    position: relative;
    bottom: -30px;
}

    .hide-header i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0;
        font-size: 22px;
    }


nav {
    display: flex;
    z-index: 100;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
    box-shadow: 0 3px 15px #808080;
    min-width: 100vw;
    padding: 3px 10px;
    height: 53px;
    position: fixed;
    bottom: 0;
}

    nav .nav-item {
        all: unset;
        min-width: 66px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

        nav .nav-item i {
            font-size: 22px;
        }

        nav .nav-item h5 {
            font-size: 0.70em;
            font-weight: 500;
            margin: 2px 0 0 0;
            padding: 0;
        }

.my-heading{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}
.ads-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px 0 100px 0;
    padding: 0 5%;
}

    .ads-container a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }

.ad-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 5px 10px #cfcfcf;
    background-color: rgb(152, 223, 234, 0.05);
    border-radius: 16px;
    overflow: hidden;
    width: calc(50% - 1em);
    max-width: 180px;
    padding: 8px;
    margin: 6px;
}

    .ad-container img {
        background-color: gainsboro;
        border-radius: 16px;
        height: 100px;
        width: 100%;
        object-fit: cover;
    }

    .ad-container .ad-container-title {
        margin: 6px 0 0 5px;
        padding: 0;
        font-size: 15px;
        font-weight: 600;
    }
.ad-container-cat {
    color: #07beb8;
    font-size: 10px;
    margin: 3px 0 0 5px;
}

#priceLowest, #search, #priceHighest {
    padding-left: 5px;
}

.filter-price-lowest {
    grid-area: 3 / 1 / 3 / 2;
}

.filter-price-highest {
    grid-area: 3 / 2 / 3 / 3;
}

.mud-input-text {
    padding: 0 15px 20px 15px;
}

.mud-popover {
    top: 290px !important;
}

.validation-summary-errors {
    color: red;
}

.field-validation-error {
    color: red;
}

    .ad-container .ad-container-zipcode {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 3px 0 0 5px;
        font-size: 10px;
    }

        .ad-container .ad-container-zipcode i {
        }

        .ad-container .ad-container-zipcode p {
            margin: 0 5px;
        }

    .ad-container .ad-container-tags {
        display: flex;
        height: 23px;
        margin: 0 0 0 5px;
    }

        .ad-container .ad-container-tags p {
            margin: 5px 4px 0 0;
            padding: 0;
            font-size: 10px;
            font-weight: 500;
            border-radius: 100px;
            background-color: lightpink;
            padding: 2px 5px;
        }

    .ad-container .ad-container-price {
        margin: 5px 0 5px 5px;
        padding: 0;
        font-size: 15px;
        font-weight: 500;
    }

@media only screen and (min-width: 1000px) {
    header {
        display: flex;
        flex-direction: row;
        flex-flow: row;
        flex-wrap: wrap;
        background-color: #98dfea;
        max-height: 200px;
        max-width: 100vw;
        justify-content: space-between;
        align-items: start;
        box-shadow: 0 3px #7fbbc4;
        padding: 20px max(2rem, 50vw - 1100px / 2);
    }

        header h3 {
            font-weight: bold;
            font-size: 42px;
            margin: 0;
            padding: 0;
            width: 60%;
        }


    .categories {
        order: 3;
        width: 40%;
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 18px 0 0 0;
    }

    .category-single {
        display: flex;
        height: auto;
        flex-direction: column;
        margin: 0 20px;
    }

        .category-single i {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 60px;
            border-radius: 100px;
            background-color: var(--background-color-dark);
            box-shadow: 0px -3px #7fbbc4;
            font-size: 32px;
        }

    .categories p {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 14px;
        color: rgb(15, 10, 10, 0.7)
    }


    .filters {
        order: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        min-width: 500px;
        max-width: 500px;
    }


    .filter-search {
        grid-area: 1 / 1 / 1 / 6;
        height: 40px;
        padding: 3px;
    }

        .filter-search i {
            display: none;
            font-size: 32px;
        }

    .filter-location {
        grid-area: 2 / 1 / 2 / 3;
        height: 40px;
        padding: 3px;
        align-items: center;
        justify-content: center;
    }

    .filter-price {
        grid-area: 2 / 3 / 2 / 5;
    }

    .filter-submit {
        grid-area: 2 / 5 / 2 / 6;
        height: 48px;
        border: none;
        color: inherit;
        font-weight: 600;
        font-family: inherit;
        font-size: 20px;
    }

    .hide-header {
        display: none;
    }

    nav {
        order: 1;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--background-color-dark);
        box-shadow: 0 -3px #7fbbc4;
        border-radius: 100px;
        padding: 3px 10px;
        min-width: 300px;
        height: 50px;
    }

        nav .nav-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
        }

            nav .nav-item i {
                font-size: 20px;
            }

            nav .nav-item h5 {
                font-weight: 500;
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
}


/*css för toggler-switch*/

.joined-header {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#checkbox {
    display: none;
}

.toggler {
    display: block;
    width: 60px;
    height: 31px;
    border: 2px solid #07BEB8;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px -3px #7fbbc4;
    margin-top: 10px;
}

.ball,
.sun,
.moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #07BEB8;
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform;
}

.sun {
    left: 5px;
}

.moon {
    right: 5px;
}

#checkbox:checked + .ball {
    transform: translate(29px, -50%);
}