.ad-container {
    padding-top: 20px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.ad-input-area {
    flex-direction: column;
    background-color: #98DFEA;
    border-radius: 25px;
    padding: 20px;
}

.titel {
    margin: 20px 0;
}

.input-element {
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 90%;
    border-radius: 5px;
    border: 0px transparent solid;
}

.image-text {
    font-size: 0.8rem;
}

