.ad-view {
    padding-top: 50px;
    padding-bottom: 150px;
    justify-content: center;
    margin: auto;
    width: 90%;
    display: flex;
}

.ad-input-area {
    width: 90%;
    max-width: 700px;
    flex-direction: column;
    background-color: rgb(152, 223, 234, 0.3);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 2px 5px 5px #cfcfcf;
}

.titel {
    margin-bottom: 10px;
    font-weight: 600;
}

.input-element {
    min-height: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    min-height: 36px !important;
    width: 100%;
    border-radius: 15px;
    border: 0px transparent solid;
    border-top: 2px inset #b1d6db;
}

.beskrivning {
    border-radius: 20px !important;
}

    .beskrivning textarea {
        margin: 5px 10px;
        border: hidden;
    }

.beskrivning textarea:focus {
    outline: none;
}

/*.pris, .beskrivning, .Kategori, .rubrik {
    background-color: #98DFEA !important;
}

    .pris *, .beskrivning *, .Kategori *, .rubrik * {
        background-color: #98DFEA !important;
        color: black;
    }*/

input {
    padding-left: 15px;
}

textarea {
    padding-left: 15px;
}

.multiline-element {
    min-height: 90px;
}

.image-element {
    min-height: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 1rem;
}



.image-text {
    font-size: 0.8rem;
}

.submit {
    display: flex;
    justify-content: end;
}

.submit-btn {
    /* float: right;*/
    /* justify-content: end;*/
    min-height: 30px;
    border-radius: 25px;
    border: 0px transparent solid;
    border-top: 2px inset #b1d6db;
    background-color: #07beb8;
    padding: 10px 20px !important;
    /*button text*/
    font-size: 0.8rem;
    font-weight: bold;
    color: black !important;
}

#radera-btn {
    width: 100%;
}

#img-preview {
    border: 0px transparent solid;
    border-top: 2px inset #b1d6db;
    background-color: white;
    border-radius: 25px;
    display: none;
    gap: 10px;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
}

    #img-preview > * {
        border-radius: 10px;
        height: 43px;
    }

.submit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

    .submit-buttons div {
        width: 50%;
    }

    .submit-buttons button {
        width: 100%;
    }

#updateAdForm .input-element {
    margin: 3px 0 20px 0;
}

#sold-btn {
    width: 100%;
    margin-top: 10px;
}

.ad-sold {
    filter: brightness(30%);
}

.ad-sold-text {
    color: red;
}
