@page
@model Torget__Blocket_klon_.Areas.Konto.Pages.AnnonsRaderadModel
@{


}

<div class="ad-view flex-column">
    @*<div class="ad-input-area">*@
    <h3 style="text-align: center; margin-bottom: 40px">Din annons är raderad!</h3>
    <div style="text-align: center">
        <a class="submit-btn" style="float:inherit " asp-area="Konto" asp-page="/MinaAnnonser" >Mina Annonser</a>
    </div>
    @*</div>*@
</div>