@page
@model Torget__Blocket_klon_.Areas.Konto.Pages.AnnonsRaderadModel
@{
    ViewData["Title"] = "Torget - köp & sälj";

}

<div class="ad-view flex-column">
    @*<div class="ad-input-area">*@
    <h1 class="display-4 text-center mt-7 mb-7" style="font-size: 30px;">Din annons är nu ett minne blott!</h1>
    <div style="text-align: center">
        <a class="submit-btn" style="float:inherit " asp-area="Konto" asp-page="/MinaAnnonser" >Mina annonser</a>
    </div>
    @*</div>*@
</div>