@page
@model Torget__Blocket_klon_.Areas.Konto.Pages.IndexModel
@{
}

@section Styling {
    
    <link rel="stylesheet" href="~/css/chatt.css" asp-append-version="true" />
}

<h1>Chatt</h1>

@section Scripts {
    <script src="~/js/"></script>
}