@page
@model Torget__Blocket_klon_.Areas.Konto.Pages.MinaAnnonserModel
@{
    ViewData["Title"] = "Torget - Mina Annonser";
}


<h1 class="display-4 text-center mt-7 mb-3" style="font-size: 30px;">Mina annonser</h1>
<div class="ads-container">
    @foreach(var ad in @Model.MinaAnnonser)
    {
        <partial name="_SmallAdCard" model="ad"/>

        @if (ad.Sold)
        {
            <script>
                var soldText = document.createElement("div");
                soldText.innerText = "Såld";
                soldText.classList.add("ad-sold-text");

                var adContainer = document.getElementById("ad-@ad.Id");
                adContainer.classList.add("ad-sold");
                adContainer.append(soldText);
                adContainer.href = "javascript:void(0)";
            </script>
        }
    }


</div>