@page
@model Torget__Blocket_klon_.Areas.Konto.Pages.MinaAnnonserModel
@{
    ViewData["Title"] = "Mina Annonser";
}


<h5 class="my-heading">Mina annonser</h5>
<div class="ads-container">
    @foreach(var ad in Model.MinaAnnonser)
    {
            <partial name="_SmallAdCard" model="ad"/>
    }
</div>