@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Torget__Blocket_klon_.Areas.Konto.Pages
@using Torget__Blocket_klon_.Data.Models
@model Torget__Blocket_klon_.Areas.Konto.Pages.SkapaAnnonsModel
@{
    ViewData["Title"] = "Skapa annons";
}

<h2 class="display-4 text-center mt-5 mb-3">Ny annons</h2>
<div class="ad-view">
    <div class="ad-input-area">
        <a class="fa-solid fa-xmark close-icon icon-content" asp-page="/index"></a>
        <form method="post" enctype="multipart/form-data">
            @*Titel
            <div class="titel">
                <h2 class="titel"><i class="fa-solid fa-square-plus"></i> Ny annons</h2>
            </div>*@
            @*Rubrik*@
            <div class="rubrik">
                <input class="input-element" asp-for="Input.Titel" placeholder="Rubrik"/>
                <span asp-validation-for="Input.Titel"></span>
            </div>
            @*Beskrivning*@
            <div class="beskrivning">
                <textarea class="input-element multiline-element" asp-for="Input.Beskrivning" placeholder="Beskrivning"></textarea>
                <span asp-validation-for="Input.Beskrivning"></span>
            </div>
            @*Pris*@
            <div class="pris">
                <input class="input-element" asp-for="Input.Pris" placeholder="Pris"/>
                <span asp-validation-for="Input.Pris"></span>
            </div>
            @*Kategori*@
            <div class="Kategori">
                <input class="input-element" asp-for="Input.Kategori" placeholder="Kategorier"/>
                <span asp-validation-for="Input.Kategori"></span>
            </div>
            
            <div id="img-preview">
                @*<asp:FileUpload ID="upload" runat="server" onchange="ShowPreview(this)"></asp:FileUpload>*@
            </div>

            @*Bild*@
            <div class="Bild">
                <input class="image-element" ma type="file" onchange="ShowPreview(this)" asp-for="Input.AdImages" multiple max="4" accept=".jpg,.png,.jpeg*" id="myFiles"/>
                <span asp-validation-for="Input.AdImages"></span>
                <p class="image-text">Recommended minimum ad image size 600x400px <br/> Accepted image formats are: .jpg, .jpeg, .png </p>
            </div>
            
            @*Submit*@
            <div class="submit">
                <button class="submit-btn button" type="submit">Lägg upp</button>
            </div>
        </form>
    </div>
</div>

<script>
  
    function ShowPreview(input) {
        var imageContainer = document.getElementById("img-preview");
        if (input.files.length > 4) {

                        alert("Max antal uppladdningar är 4 bilder!");

                        document.getElementById("myFiles").value = ""; 
                        imageContainer.innerHTML = "";
                        imageContainer.style.display ="none";
                        
        } else {
                                                imageContainer.innerHTML = "";
                        imageContainer.style.display ="flex";

                        var reader = new FileReader();


                        function readFile(index) {
                            if( index >= input.files.length) return;
            
                            var file = input.files[index];
                            reader.onload = function(e) {

                                var imageContainer = document.getElementById("img-preview");

                                // get file content
                                var bin = e.target.result;

                                var image = document.createElement("img");
                                image.src = bin;
                                imageContainer.appendChild(image);

                                readFile(index + 1);
                            }
                            reader.readAsDataURL(file);
                        }
                        readFile(0); 
                    }

    }

    //#sourceURL=ShowPreview.js
</script>