@page
@model Torget__Blocket_klon_.Areas.Konto.Pages.ÄndraAnnonsModel
@{
    ViewData["Title"] = "Ändra Annons";
}

<h2 class="display-4 text-center mt-5 mb-3">Ändra annons</h2>
@if (@Model.ErrorOccurred)
{
    <!-- Button trigger modal -->
     @*   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
        </button>*@

        <!-- Modal -->
    <div class="modal" style="display: block;" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Varning!</h5>
                    
                </div>
                <div class="modal-body">
                    <p>Något gick fel. Din annons kunde inte raderas. Försök igen senare!</p>
                </div>
                <div class="modal-footer">
                    <button type="button"  onclick="closeFunc()" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        function closeFunc() {
            var modal = document.getElementById("myModal");
            modal.classList.remove("show");
            modal.style.display = "none";
        }
      </script>
}

<div class="ad-view">
    <div class="ad-input-area">
        <form method="post" enctype="multipart/form-data" id="updateAdForm">
            @*Titel
            <div class="titel">
                <h2 class="titel"><i class="fa-solid fa-square-pen"></i> Ändra annons</h2>
            </div>*@
            @*Rubrik*@
            <div class="rubrik">
                <label asp-for="Input.Title"></label> 
                <input class="input-element" asp-for="Input.Title" class="form-control" aria-required="true"    />
                <span asp-validation-for="Input.Title" ></span>
            </div>
            @*Beskrivning*@
            <div class="beskrivning">
                <label asp-for="Input.Description" ></label>
                <textarea class="input-element multiline-element" asp-for="Input.Description" class="form-control" aria-required="true"></textarea>
                <span asp-validation-for="Input.Description" ></span>
            </div>
            @*Pris*@
            <div class="pris">
                <label asp-for="Input.Price" ></label>
                <input class="input-element" asp-for="Input.Price" class="form-control" aria-required="true"/>
                <span asp-validation-for="Input.Price"/>
            </div>
            @*Kategori*@
            <div class="Kategori">
                <label asp-for="Input.Category"></label>
                <input class="input-element" asp-for="Input.Category" class="form-control" aria-required="true"/>
                <span asp-validation-for="Input.Category" ></span>
            </div>
            
            <div class="submit-buttons">
            @*Submit*@
            <div class="submit">
            <input type="hidden" name="adId" value="@Model.AdToEdit.Id"/>
            <button id="registerSubmit" type="submit" class="submit-btn button">Uppdatera</button>            
            </div>
            
        </form>
         <div class="submit">
        <form asp-page-handler="delete" method="post" id="radera-btn">
           
            <input type ="hidden" name="adId" value="@Model.AdToEdit.Id" />
            <button onclick="confirmDelete(event)"class="submit-btn button" type="submit">Radera</button>
            
        </form>
        </div>

        </div>
        <form asp-page-handler="sold" method="post">
            <input type ="hidden" name="adId" value="@Model.AdToEdit.Id" />
            <button class="submit-btn button" id="sold-btn" type="submit">Markera som såld</button>
        </form>
    </div>
</div>


<script>
    function confirmDelete(event) {
        var yesDelete = confirm("Vill du radera denna annons?");
        if(!yesDelete) event.preventDefault();
    }
</script>   
