
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Components.Web
@using Torget__Blocket_klon_.Data.ModelsNotInDb
@inject SignInManager<TorgetUser> signInManager;

@{
    string path = Context.Request.Path.Value.Trim('/').ToLower();
}

<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Blazor -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="~/_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    <base href="~/"/>
    <!--Blazor -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/Konto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/annons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    @RenderSection("Styling", required: false)


    <title>@ViewBag.Title</title>
</head>
<body>
<component type="typeof(MudThemeProvider)" render-mode="ServerPrerendered"/>
<header>
    <div class="joined-header">
        <h3><a href="~/">TORGET</a></h3>
        <div>
            <label for="checkbox" class="toggler">
                <input type="checkbox" id="checkbox" />
                <span class="ball"></span>
                <i class="fa-regular fa-sun sun"></i>
                <i class="fa-regular fa-moon moon"></i>
            </label>
        </div>
    </div>
    
    <component type="typeof(_SearchBar)" render-mode="ServerPrerendered"/>
    <div class="hide-header" onClick="hideSearch()">
        <i class="fa-solid fa-angle-up hide-header-icon"></i>
    </div>
    <nav class="navigation">
        
        <a href="/" class="nav-item">
            <i class="fa-solid fa-house"></i>
            <h5>Hem</h5>
        </a>

        <a class="nav-item">
            <i class="fa-solid fa-camera-retro"></i>
            <h5>Bevakningar</h5>
        </a>

        <a class="nav-item" asp-area="Konto" asp-page="/SkapaAnnons" asp-route-returnUrl=@path>
            <i class="fa-solid fa-square-plus"></i>
            <h5>Skapa annons</h5>
        </a>


        <a class="nav-item" asp-area="Konto" asp-page="/Chatt">
            <i class="fa-solid fa-quote-right"></i>
            <h5>Chatt</h5>
        </a>

        @if (!signInManager.IsSignedIn(User))
        {
            <a asp-area="Konto" asp-page="/Inloggning" class="nav-item">
                <i class = "fa-solid fa-user-tie"></i>
                <h5>Logga in</h5>
            </a>
        }
        else
        {
            <a asp-area="Konto" asp-page="/Profil" class="nav-item">
                <i class = "fa-solid fa-user-tie"></i>
                <h5>Profil </h5>
            </a>
        }
    </nav>
</header>
<div>
    @RenderBody()
</div>
@await RenderSectionAsync("Scripts", false)
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<!--Blazor -->
<script src="~/_content/MudBlazor/MudBlazor.min.js"></script>
<script src="~/_framework/blazor.server.js"></script>
<!--Blazor -->
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    function hideSearch() {
        var categoryElement = document.querySelector(".to-hide");
        var searchElement = document.querySelector(".filters");
        var hideButtonElement = document.querySelector(".hide-header-icon");

        if (categoryElement.style.display === "none" && 
                searchElement.style.display === "none") {
                categoryElement.style.display = "flex";
                searchElement.style.display = "grid";
                hideButtonElement.style.transform = "rotate(0deg)"
            } else {
                hideButtonElement.style.transform = "rotate(180deg)"
                categoryElement.style.display = "none";
                searchElement.style.display = "none";
            }
    }
</script>

</body>
</html>