@using Torget__Blocket_klon_.Data.ModelsNotInDb


<form class="filters" onsubmit=@{ Console.WriteLine("TEST"); }>
    <div class="filter-search input">
        <input type="text" placeholder="Ex. Barnvagn, cykel" id="search"/>
        <i class="fa-solid fa-sliders"></i>
    </div>
    <div class="filter-location input">
        <input type="text" placeholder="Plats" id="location"/>
    </div>
    <div class="filter-price input">
        <input type="text" placeholder="Pris" id="price"/>
    </div>
    <input class="filter-submit button" type="submit" value="Sök" />
</form>

@{
    IActionResult StartSearch()
    {
        var searchQuery = new SearchQuery();
        var e = new RedirectToPageResult("Annonser", searchQuery);
        Console.WriteLine("TEST");
        return e;
    }   
}